::selection {
  background-color: #a94fd0;
  color: whitesmoke;
}
::-moz-selection {
  background-color: #a94fd0;
  color: whitesmoke;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.4) !important;
  border-radius: 10px;
}
